<!DOCTYPE html>
<html lang="en">
<head>
<link rel="icon" href="" />

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Template</title>

    <link rel="stylesheet" href="css/main.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.4/css/bulma.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.0/css/all.min.css" />


   <style type="text/css">
   	* {
    margin: 0;
    padding: 0;
}

.navbar {
    position: fixed;
    z-index: 100;
}
.border {
    border: 0px solid;
    backgroud-color: lightgray;
    height: 42.3vh;
    margin-top: -28.9%;
}
.logo {
    
}
#ava {
    width: 50%;
}

#new-page {
    margin-top: 5px;
}
#home-page {
    height: 90vh;
    background: url("https://i.ibb.co/T4XPPcq/bgg.jpg");
    background-size: cover;
    margin-top: 12vh;
}
.about {
    width: 30rem;
}

.con-img {
    width: 25rem;
    margin-left: 120px;
}
.top-info {
    font-size: 15px;
    
}
.topp {
    margin-bottom: 50px;
}
#about-us {
    position: absolute;
    top: 90vh;
}
#contact-us {
    position: absolute;
    top: 290vh;
}
   </style>
</head>
<body>
    <div class="navv">
        <nav class="navbar is-fixed-top is-light" role="navigation" aria-label="main navigation">
                <div class="navbar-brand" >
                    <a class="navbar-item" href="index.html"><img class="" src=https://i.ibb.co/2jBLYvn/logo.png" alt="logo" border="0"" />
                    </a>
        
                    <div class="dropdown is-right navbar-burger is-hoverable" aria-label="menu">
                        <div class="dropdown-trigger">
                                <a role="button" class="navbar-burger" aria-label="menu" aria-haspopup="true" aria-controls="dropdown-menu">
                                    <span aria-hidden="true"></span>
                                    <span aria-hidden="true"></span>
                                    <span aria-hidden="true"></span>
                                </a>
                        </div>
                        <div class="dropdown-menu" id="dropdown-menu2" role="menu">
                            <div class="dropdown-content">
                                <a href="#" class="dropdown-item is-active">Home</a>
                                <a href="#contact-us" class="dropdown-item">Create Form</a>
                                <a href="#about-us" class="dropdown-item">About</a>
                                
                                <p class="dropdown-divider"></p>
                                
                                <div class="tile is-parent">
                                <a role="button" class="button tile is-child is-info">Open App</a>
                                    <div class="tile is-child"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        
        
        
        
                    <div style="margin-left: 78px" id="avlon" class="navbar-menu">
                        <div class=" navbar-end">
                            <a href="#" class="navbar-item is-active">Home</a>
                            <a href="#contact-us" class="navbar-item">Contact</a>
                            <a href="#about-us" class="navbar-item">About</a>
                        </div>
                    </div>
                    <div class="navbar-menu">
                        <div class="navbar-end navbar-item">
                                <div class="tile is-parent">
                                <a role="button" class="button is-child is-info">Open App</a>
                        </div>
                    </div>
            </nav>
        </div>
            <section id="home-page">
            <main class="columns">
                <div class="column left">
                    <div class="topp" style="text-align: center;" >
                            
                            <article class="top-info" style="padding: 40px; margin-top: 90px; padding-left: 70px;">
                                <p class="title has-text-info">ABOUT OUR APP</p>
                                Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
                                Sapiente dolor, culpa earum excepturi cum perferendis placeat error 
                                natus amet nam neque, illo libero! Quod est magni nesciunt quos aspernatur porro?
                                Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
                                Sapiente dolor.
                                <div class="column"><img id="ava" src="https://i.ibb.co/3v4Xg7d/images.jpg" alt="images" border="0"></div>
                                    
                                
                            </article>
                            
                    </div>
            </div>
           
                <div class="column left" style="text-align: right;">
                        <div class="" >
                                <img src="https://i.ibb.co/MgXYvw0/pro1.gif" alt="pro1" border="0" />
                        </div>
                </div>
                
            </main>
            <div class="border is-light hero"></div>

            <a id="about-us"> <div></div> </a>
            
        </section>

                


        <section>
                
            <div id="new-page"> 
            <div class="hero is-info">
                <div class="hero-body">
                    <div class="columns">
                        <div class="column">
                                <img src="https://i.ibb.co/MDXJKYR/a.png" alt="a" border="0" class="about" />
                        </div>
                        <div class="column"> 
                            
                                <article>
                                    <p class="title">About Us</p>
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt eos, 
                                    culpa magnam perspiciatis sapiente nostrum! Sed, amet ut provident odio porro 
                                    ratione! Blanditiis labore nulla, magnam possimus dolores repudiandae odit nam 
                                    dignissimos modi cumque quam nesciunt saepe reiciendis at dicta commodi cum eveniet, 
                                     non delectus excepturi velit libero? Facere distinctio, omnis incidunt tempora corrupti
                                      officiis nostrum aliquid aut veritatis voluptatibus recusandae architecto dolores repellendus
                                       mollitia dolore accusantium at dolorem earum nisi quibusdam adipisci quam beatae! Iure beatae 
                                       nihil expedita blanditiis doloremque! Blanditiis assumenda quae quasi 
                                    soluta ea, deleniti iure sunt possimus natus facere, nostrum aut beatae repellat vel ad!
                                    ssimos modi cumque quam nesciunt saepe reiciendis at dicta commodi cum eveniet, 
                                     non delectus excepturi velit libero? Facere distinctio, omnis incidunt tempora corrupti
                                      officiis nostrum aliquid aut veritatis voluptatibus recusandae architecto dolores repellendus
                                       mollitia dolore accusantium at dolorem earum nisi quibusdam adipisci quam beatae! Iure beatae 
                                       nihil expedita blanditiis doloremque! Blanditiis assumenda quae quasi 
                                    soluta ea, deleniti iure sunt possimus natus facere, nostrum aut beatae repellat vel ad!
                                    ssimos modi cumque quam nesciunt saepe reiciendis at dicta commodi cum eveniet, 
                                     non delectus excepturi velit libero? Facere distinctio, omnis incidunt tempora corrupti
                                      officiis nostrum aliquid aut veritatis voluptatibus recusandae architecto dolores repellendus
                                       mollitia dolore accusantium at dolorem earum nisi quibusdam adipisci quam beatae! Iure beatae 
                                       nihil expedita blanditiis doloremque! Blanditiis assumenda quae quasi 
                                    
                                </article>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
        </section>
 
        <section>
                <div id="new-page">
                <div class="hero is-light">
                    <div class="hero-body">
                        <div class="columns">
                            
                            <div class="column">
                                    <article>
                                        <p class="title">What we do</p>
                                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt eos, 
                                        culpa magnam perspiciatis sapiente nostrum! Sed, amet ut provident odio porro 
                                        ratione! Blanditiis labore nulla, magnam possimus dolores repudiandae odit nam 
                                        dignissimos modi cumque quam nesciunt saepe reiciendis at dicta commodi cum eveniet, 
                                         non delectus excepturi velit libero? Facere distinctio, omnis incidunt tempora corrupti
                                          officiis nostrum aliquid aut veritatis voluptatibus recusandae architecto dolores repellendus
                                           mollitia dolore accusantium at dolorem earum nisi quibusdam adipisci quam beatae! Iure beatae 
                                           nihil expedita blanditiis doloremque! Blanditiis assumenda quae quasi 
                                        soluta ea, deleniti iure sunt possimus natus facere, nostrum aut beatae repellat vel ad!
                                        ssimos modi cumque quam nesciunt saepe reiciendis at dicta commodi cum eveniet, 
                                         non delectus excepturi velit libero? Facere distinctio, omnis incidunt tempora corrupti
                                          officiis nostrum aliquid aut veritatis voluptatibus recusandae architecto dolores repellendus
                                           mollitia dolore accusantium at dolorem earum nisi quibusdam adipisci quam beatae! Iure beatae 
                                           nihil expedita blanditiis doloremque! Blanditiis assumenda quae quasi 
                                        soluta ea, deleniti iure sunt possimus natus facere, nostrum aut beatae repellat vel ad!
                                        ssimos modi cumque quam nesciunt saepe reiciendis at dicta commodi cum eveniet, 
                                         non delectus excepturi velit libero? Facere distinctio, omnis incidunt tempora corrupti
                                          officiis nostrum aliquid aut veritatis voluptatibus recusandae architecto dolores repellendus
                                           mollitia dolore accusantium at dolorem earum nisi quibusdam adipisci quam beatae! Iure beatae 
                                           nihil expedita blanditiis doloremque! Blanditiis assumenda quae quasi 
                                        
                                    </article>
                            </div>
                            <div class="column">
                                    <img src="https://i.ibb.co/tMzcD6z/b.png" alt="b" border="0" class="does" />
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
            <a id="contact-us"> <div></div> </a>
            </section>

            <section>
                    <div id="new-page">
                    <div class="hero is-warning">
                        <div class="hero-body">
                            <div class="columns">
                                <div class="column">
                                        <img src="https://i.ibb.co/4W40JBP/c.png" alt="c" border="0" class="does" />
                                </div>
                                <div class="column">
                                        <article>
                                            <p class="title">Contact Us</p>
                                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt eos, 
                                            culpa magnam perspiciatis sapiente nostrum! Sed, amet ut provident odio porro 
                                            ratione! Blanditiis labore nulla, magnam possimus dolores repudiandae odit nam 
                                            dignissimos modi cumque quam nesciunt saepe reiciendis at dicta commodi cum eveniet, 
                                             non delectus excepturi velit libero? Facere distinctio, omnis incidunt tempora corrupti.
                                             
                                               <img src="https://i.ibb.co/GxXJSRj/5.png" alt="5" border="0" class="con-img">
                                            
                                        </article>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </div>
                </section>


                
        
    
</body>
</html>